<div class = "contents">
  <div class = "contents-box">
    <p>ようこそMusicサイト</p>
    <%= link_to "ログイン", signup_path, class: "login" , method: :get %><!-- ログイン画面に移行する -->
    <%= link_to "新規登録", signup_path, class: "login" , method: :get %> <!-- 新規登録画面に移行する --> 
</div>

