<div class = "contents">
  <div class = "contents-box">
    <p>ようこそMusicサイト</p>
    <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, class: "login" , method: :delete %>
      <% else %>
      <%= link_to "ログイン", new_user_registration_path, class: "login" , method: :get %><!-- ログイン画面に移行する -->
      <%= link_to "新規登録", new_user_registration_path, class: "login" , method: :get %> <!-- 新規登録画面に移行する --> 
    <% end %>
</div>

