<div class="contents row" >
  <p><%= @nickname%>さんの投稿一覧</p>
  <% @comments.each do |comment| %> 
    <%= render partial: "top/comment", locals: { comment: comment } %>
  <% end %>
  <%= paginate(@comments) %>
</div>